.title {
  color: #0b132a;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 140% */
  max-width: 555px;
}

.text {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  max-width: 555px;
  margin-bottom: 30px;
}
.btn {
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
  background-color: #f53838;
}
.box {
  max-width: 1140px;
  min-height: 200px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 40px 50px #e5e9f666;
}
.circle {
  width: 55px;
  height: 55px;
  background: #ffecec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  color: #0b132a;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 120% */
}
.attribute {
  color: #4f5665;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
